html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navigation {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.navigation-left {
    flex: 1;
    text-align: left;
}

.navigation-right {
    flex: 1;
    text-align: right;
}

.menu-trigger {
    background-color: lightgray;
    border: 5px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: inherit;
    display: inline-block;
}

.menu-trigger:hover {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
}

.menu-trigger:hover .dropdown {
    top: 0px;
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.4s ease;
    padding: 40px;
}

.content {
  background-color: white;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  flex: 1;
  min-height: 0;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 4px 4px 4px rgba(0,0,0,1);

  /* responsive sizing */
  aspect-ratio: 16 / 9; 
  border-radius: 8px;
  transition: transform .3s ease, box-shadow .3s ease;

  /* background image behavior */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.block-rome {
    background-image: url(https://plus.unsplash.com/premium_photo-1661963952208-2db3512ef3de?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YW5jaWVudCUyMHJvbWV8ZW58MHx8MHx8fDA%3D);
}

.block-bruxelles {
    background-image: url(https://www.visit.brussels/content/dam/visitbrussels/images/b2c/what-to-do/les-incontournables-de-bruxelles/GRAND_PLACE_4212-%C2%A9_visit.brussels_-_Jean-Michel_Byl.jpg);
}

.block-new-york {
    background-image: url(https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/master/pass/GettyImages-946087016.jpg);
}

.block:hover {
    transform: scale(1.1);
    box-shadow: 
        0 12px 30px rgba(0,0,0,0.3),
        0 0 0 5px rgba(0,0,0,0.5);
}

.footer {
    background-color: rgb(119, 116, 116);
    color: white;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footer-left {
    flex: 1;
    text-align: left;
}

.footer-right {
    flex: 1;
    text-align: right;
}