/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0;
}


a {
    font-size: 22px;
    color: #f0f;
}

.cascading-parent h2 {
    color: #fd0;
}

.cascading-parent a {
    font-size: 32px;
    color: #ccc;
}