/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

 :root {
    /* FONTS */
    --regular: "Arial";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --white: #FFF;
    --black: #000;
 }

 /* Usage */

.button-container a {
    width: 400px;
    height: auto;
    padding: 10;
    margin: 10;
    color: rgba(0, 0, 0, 0.486);
    background-color: #f00;

    /* REMOVE UNDERLINE */
    text-decoration: none;

    /* TRANSITION EFFECTS */
    transition: all 0,5s ease;

}

.button-container a:hover {
    background-color: hotpink !important;
    /* REMOVE UNDERLINE */
    text-decoration: none;
}

.button-container-custom a {
    color: #000;
    text-shadow : horizontal-shadow vertical-shadow blur color;
    width: 420px;
    height: 69px;
    padding: 10;
    margin: 10;
    border-radius: 10px;
    border-color: #000;

    text-decoration: wavy;

    transition: 2500ms ease-out;
     /* GRADIENT */
    background: #222fc3;
    background: linear-gradient(90deg, rgba(34, 47, 195, 1) 0%, rgba(254, 255, 252, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(253, 45, 48, 1) 100%);

}

.button-container-custom a:hover {
    /* GRADIENT */
    background: #222fc3;
    background: linear-gradient(0deg, rgba(34, 47, 195, 1) 0%, rgba(254, 255, 252, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(253, 45, 48, 1) 100%);

}